{% extends "base/base.html" %}

{% block contenido %}
	<form class="form-inline my-2 my-lg-0" style="padding:50px;" method="GET">
		<div class="row">
			<div class="col-md-10">
      			<input class="form-control mr-sm-2 " name="nombre_producto" type="search" placeholder="Ingrese nombre del producto..." aria-label="Search" value="{{nombre_buscado}}">
      		</div>
      		<div class="col-md-2">
      			<button class="btn btn-sm btn-outline-secondary" type="submit">Buscar</button>
      		</div>
      	</div>
    </form>


	<div class="row" style="padding:10px;">
		<div class="col">
			<a href="{% url 'productos:admin_nuevo' %}" class="btn btn-success">Nuevo</a>
		</div>
	</div>
	

	<table class="table table-success table-striped">
		<thead>
			<th scope="col">Id</th>
			<th scope="col">Nombre</th>
			<th>Precio</th>
			<th scope="col">Acciones</th>
		</thead>
		<tbody>
			{% for p in productos %}
				<tr>
			      <th scope="row">{{p.id}}</th>
			      <td>{{p.nombre}}</td>
			      <td>$ {{p.precio}}</td>
			      <td>
			      	<a href="">Ver</a>
			      	<a href="{% url 'productos:admin_editar' p.id %}">Editar</a>
			      	<a href="">Eliminar</a>
			      </td>
			    </tr>
			{% endfor %}
		</tbody>
	</table>
{% endblock contenido %}