{% extends "base/base.html" %}

{% load static %}
{% load productos_tags %}

{% block contenido %}
	<h1>Ofertas del Dia</h1>
		
		<form class="form-inline my-2 my-lg-0" style="padding:50px;">
			<div class="row">
				<div class="col-md-10">
	      			<input class="form-control mr-sm-2 " type="search" placeholder="Ingrese nombre del producto..." aria-label="Search">
	      		</div>
	      		<div class="col-md-2">
	      			<button class="btn btn-sm btn-outline-secondary" type="submit">Buscar</button>
	      		</div>
	      	</div>
	    </form>
		
		<p>
			{% comment %}
      			{% esto_es_un tag %}
      		
      		
      			{% saludar_a_alguien "Lucas" %}

      			{% saludar %}
			{% endcomment %}
			{{user.dni|agregar_sufijo:"asdads"}}
      		
      	</p>

      	<div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">

      		{% for p in productos %}
	        	{% include "productos/includes/producto_card.html" %}
        	{% endfor %}
     	</div>
{% endblock contenido %}