{% extends "base/base.html" %}

{% load static %}

{% block contenido %}
	<h1>Ofertas del Dia</h1>
      	<div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
      		{% for p in productos %}
	        	<div class="col">
	          		<div class="card shadow-sm">
	          			{% if p.imagen %}
	          				<img src="{{p.imagen.url}}" class="bd-placeholder-img card-img-top" width="100%" height="225">
	          			{% else %}
	          				<img src="{% static 'images/default/producto.png' %}" class="bd-placeholder-img card-img-top" width="100%" height="225">
	          			{% endif %}
	          			
	            		

	            		<div class="card-body">
	              			<p class="card-text">
	              				{{p.nombre}}
	              				<!--
	              				{% for c in p.categorias.all %}
	              				 	<span class="badge rounded-pill bg-primary">{{c.nombre}}</span>
	              				{% endfor %} 
	              				-->
	              				<span class="badge rounded-pill bg-primary">{{p.categoria.nombre}}</span>
	              			</p>
	              			<div class="d-flex justify-content-between align-items-center">
		                		<div class="btn-group">
		                  			<!--<button type="button" class="btn btn-sm btn-outline-secondary">View</button>-->
		                  			<a class="btn btn-sm btn-outline-secondary" href="{% url 'productos:detalle' %}">Ver mas</a>
		                		</div>
		                		<!--<small class="text-muted">9 mins</small>-->
	              			</div>
	            		</div>
	          		</div>
	        	</div>
        	{% endfor %}
     	</div>
{% endblock contenido %}